.edit--job-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: var(--white);
    margin-inline: auto;
    padding: 2.5rem 3rem;
    row-gap: 2rem;
    margin-top: -4rem;
    box-shadow: .3rem .3rem 3rem -1rem black;
    border-radius: .5rem;
}

.edit--job-content {
    display: flex;
    padding-inline: 3rem;
}

.edit--job-content label {
    display: block;
}

.edit--job-content span {
    display: block;
    font-size: .8rem;
    font-weight: 500;
}

.edit--job-left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.edit--job-left input {
    height: 2rem;
}

.edit--job-left input,
.edit--job-left textarea {
    width: 15rem;
    padding: .5rem;
    background-color: var(--light-grey);
    outline: none;
    color: var(--very-dark-blue);
    border: .1px solid #808080;
}

.edit--job-left textarea {
    height: 5rem;
    resize: none;
    padding: .2rem;
}

.edit--job-right textarea {
    width: 18rem;
    height: 3rem;
    padding: .2rem;
    resize: none;
    background-color: var(--light-grey);
    outline: none;
    color: var(--very-dark-blue);
    border: .1px solid #808080;
}

.edit--job-right {
    flex-basis: 50%;
}

.role-items,
.requirement-items {
    margin-left: 1rem;
}

.role-items,
.requirement-items {
    margin-left: 1rem;
}