.account--jobs {
    width: 100%;
    margin-inline: 0;
    margin-top: 4rem;
}
.account--jobs-title {
    width: 100%;
    font-weight: 500;
}
.account--jobs .job__location {
    display: flex;
    justify-content: space-between;
}
.account--job-action {
    display: flex;
    column-gap: .5rem;
}

.account--job-edit {
    cursor: pointer;
}
.account--job-delete {
    color: rgb(176, 0, 0);
    cursor: pointer;
}
.account--job-edit:hover,
.account--job-delete:hover {
    text-decoration: underline;
}