.jobs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    margin: 9rem 9rem 4rem 9rem;
}

.job {
    flex-basis: 31%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: .7rem;
    padding: 1.8rem;
    position: relative;
    border-radius: .4rem;
}

.company--photo {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: -1.6rem;
    border-radius: .93rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job__time {
    color: var(--dark-grey);
    font-weight: 500;
}


.job__time_separator::after {
    content: '.';
    font-weight: 900;
    font-size: 1.5rem;
    margin-inline: .7rem;
}

.job__position {
    font-size: 1.2rem;
    font-weight: 700;
}

.job__position span:hover {
    cursor: pointer;
    color: var(--dark-grey);
}

.job__company {
    color: var(--dark-grey);
}

.job__location {
    margin-top: 1.5rem;
    font-weight: 600;
    color: var(--violet);
    font-size: .9rem;
}
.jobs--lod-more {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .jobs {
        margin: 7rem 5rem 4rem 5rem;
    }

    .job {
        flex-basis: 47%;
    }
}
@media only screen and (max-width: 992px) {
    .jobs {
        margin: 7rem 3.5rem 4rem 3.5rem;
    }

    .job {
        flex-basis: 47%;
    }
}
@media only screen and (max-width: 768px) {
    .jobs {
        margin: 7rem 2rem 4rem 2rem;
    }

    .job {
        flex-basis: 49%;
    }
}
@media only screen and (max-width: 576px) {
    .jobs {
        margin: 6rem 1.5rem 4rem 1.5rem;
    }

    .job {
        flex-basis: 100%;
    }
}
